/* Enter your custom styles here */



.sapMPageWithFloatingFooter .sapMPageFloatingFooter {
    position: fixed !important;
    float: right !important;
    margin-left: 13% !important;
    width: 85.5% !important;
}